<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>章节详情</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>章节详情</h1>
    <table>
        <thead>
            <tr>
                <th>来源</th>
                <th>书名</th>
                <th>书籍 ID</th>
                <th>章节</th>
                <th>章节 ID</th>
                <th>正文</th>
            </tr>
        </thead>
        <tbody id="chapter-data"></tbody>
    </table>
    <script src="../static/script.js"></script>
</body>

</html>